h1 {
 font-size: 25px;
 color: #93c14d;
 font-family: 'Roboto', sans-serif;
 font-weight: 700;
 line-height: 22px;
 margin-left: 8px;
 margin-right: 8px;
 margin-top: 15px;
 margin-bottom: 30px;
}

h2 {
 font-size: 20px;
 color: Black;
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 margin-left: 8px;
 margin-right: 60px;
 margin-top: 15px;
 margin-bottom: 50px;
}

h3 {
 font-size: 15px;
 color: Black;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 line-height: 22px;
 margin-left: 8px;
 margin-right: 8px;
 margin-top: 5px;
 margin-bottom: 20px;
}

ul {
 font-size: 15px;
 color: Black;
 font-family: 'Roboto', sans-serif;
 font-weight: 380;
 line-height: 22px;
 margin-left: 8px;
 margin-right: 8px;
 margin-top: 0px;
 margin-bottom: 10px;
}

ol {
 font-size: 15px;
 color: Black;
 font-family: 'Roboto', sans-serif;
 font-weight: 380;
 line-height: 22px;
 margin-left: 8px;
 margin-right: 8px;
 margin-top: 0px;
 margin-bottom: 10px;
}

div.footer {
 font-size: 20px;
 color: #93c14d; 
 font-family: 'Roboto', sans-serif;
 line-height: 22px;
 margin-left: 8px;
 margin-right: 8px;
 margin-top: 0px;
 margin-bottom: 10px;
}